# emacs
*~
*.elc
auto-save-list/
elpa/
elisp/
url/
places
savefile/*
session*
tramp/
custom.el
init-local.el
abbrev_defs

# packages
projectile-bookmarks.eld
games/
snippets/
.org-id-locations

# Documents
documents

# git
.git-credential-cache/

# languages
.python-environments/
meghanada/
