*~
*.elc
auto-save-list/
ac-comphist.dat
recentf
savehist
saveplace
semanticdb/
elpa/
url/
.DS_Store
places
savefile/
projectile-bookmarks.eld
projectile.cache
session*
jdee-2.4.1/
elisp/
games/
themes/
.directory
tramp
ido.last
geiser-history.guile
bookmarks
abbrev_defs
.directory
init_description.el
*.html
eshell/
documents/
.mc-lists.el
