# emacs
*~
*.elc
auto-save-list/
elpa/
straight/
elisp/
url/
savefile/*
session*
tramp/
var
etc
eln-cache/

# packages
projectile-bookmarks.eld
games/
snippets/
.org-id-locations
.lsp-session-*

# Documents
image-dired/

# git
.git-credential-cache/
*.patch

# languages
.python-environments/
meghanada/
